---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="UGPS Videojuegos">
	<main>
		<h1>Explora los Mejores Videojuegos</h1>
		<GameList client:load />
	</main>
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 2rem;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 2rem;
		text-align: center;
	}
</style>
